html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

span {
    user-select: none;
}

button,
input,
textarea,
select {
    outline: 0;
    border: none;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 30px 0; */
}

.play-btn {
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    /* border: 1px solid #333;
    width: 30px;
    height: 30px;
    border-radius: 50%; */
}

.progress-bar {
    width: 100%;
    position: relative;
    height: 15px;
    background: gray;
    margin: 0 20px;
    cursor: pointer;
}

/* .progress-bar:hover {
    background: greenyellow;
} */

.progress-bar .progress {
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    bottom: 0;
}

.progress-bar .current-runTime {
    position: absolute;
    top: -25px;
    transform: translateX(-50%);
    display: block;
    width: 50px;
    height: 23px;
    background: #333;
    color: #fff;
    display: none;
    text-align: center;
    line-height: 23px;
}

.progress-bar .progress span {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background: blueviolet;
    translate: 50% -50%;
}

.show-lyric {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
}

.btn-karaoke {
    margin-left: auto;
    padding: 12px 20px;
    border-radius: 999px;
    cursor: pointer;
    color: #fff;
    background: #8a2be2;
    font-size: 1.8rem;
}

.karaoke .heading {
    font-size: 5rem;
    font-weight: 600;
}

.exit {
    display: inline-block;
    font-size: 3rem;
    margin-left: auto;
    cursor: pointer;
}

.header-karaoke {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.karaoke-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 2;
    margin: 30px auto;
}

.karaoke {
    transition: translate 0.5s ease;
    translate: 0 100%;
    color: #fff;
    padding-top: 30px;
    position: fixed;
    inset: 0;
    background: #8a2be2;
}



